# Segmenting and Clustering Neighborhoods in Toronto

### Importing libraries for webscraping

In [24]:
import bs4 as bs
import urllib.request
from bs4 import BeautifulSoup
import requests
import pandas as pd

### Scraping table from Wikipedia

In [44]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

source = urllib.request.urlopen(url).read()
soup = bs.BeautifulSoup(source,'html.parser')

table = soup.find('table')
table_rows = table.find_all('tr')

columns = ["PostalCode", "Borough", "Neighbourhood"]

list_html = []

for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text.strip() for tr in td if tr.text.strip()]
    if row:
        list_html.append(row)

### Convert table to dataframe

In [45]:
df = pd.DataFrame(list_html, columns=columns)
df.head()

  PostalCode           Borough     Neighbourhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

### Cleaning Dataframe

In [46]:
df = df[df.Borough != 'Not assigned']
df.head()

  PostalCode           Borough     Neighbourhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor

In [49]:
df = df.groupby(['PostalCode', 'Borough'])['Neighbourhood'].apply(','.join).reset_index()
df[df.Neighbourhood == 'Not assigned'] # Checking if there is any 'Not assigned' values in the 'Neighbourhood' Column

Empty DataFrame
Columns: [PostalCode, Borough, Neighbourhood]
Index: []

In [50]:
df.head(12)

   PostalCode      Borough                                      Neighbourhood
0         M1B  Scarborough                                      Rouge,Malvern
1         M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
2         M1E  Scarborough                    Guildwood,Morningside,West Hill
3         M1G  Scarborough                                             Woburn
4         M1H  Scarborough                                          Cedarbrae
5         M1J  Scarborough                                Scarborough Village
6         M1K  Scarborough          East Birchmount Park,Ionview,Kennedy Park
7         M1L  Scarborough                      Clairlea,Golden Mile,Oakridge
8         M1M  Scarborough      Cliffcrest,Cliffside,Scarborough Village West
9         M1N  Scarborough                         Birch Cliff,Cliffside West
10        M1P  Scarborough  Dorset Park,Scarborough Town Centre,Wexford He...
11        M1R  Scarborough                                   Maryvale,Wexford

In [51]:
df.shape

(103, 3)